@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #05285e1a;
  font-size: 16px;
  /* max-width: 1920px; */
  margin: 0 auto;
  position: relative;
  color: #05285e;
}

.no-scroll {
  overflow: hidden;
}

.list-shadow {
  box-shadow: 0px 1px 8px 0px #3e3e3e14;
}
.menu-list {
  @apply h-11 px-4 py-2 flex items-center gap-4 text-base text-primary rounded-lg hover:bg-white hover:font-semibold duration-300;
}
.menu-list:hover {
  box-shadow: 0px 1px 8px 0px #3e3e3e14;
}

.menu-list-active {
  @apply h-11 px-4 py-2 flex items-center gap-4 font-semibold text-base text-primary rounded-lg bg-white;
}

.user-modal-large {
  width: 510px;
}
.user-modal-small {
  width: 90%;
}

.user-modal {
  transition: width 0.3s ease;
}

@media (max-width: 640px) {
  .user-modal {
    width: 90%;
  }
}

@media (min-width: 640px) {
  .user-modal {
    width: 510px;
  }
}

.goal-history {
  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 3px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 3px;
  }
}
